body{
    background:#DCDCDC;
    margin-top:20px;
}
#celebList{
  display: flex;
}
.row {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
  }
  
  .row > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
.card-box{
    height: 400px;
    width: 400px;
    overflow: visible;
    margin: 0 auto;
    border-radius: 3px;
    transition: all 0.9s ease-in-out;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
    background: linear-gradient(45deg, #7b00e0, #ae31d9);
  }
  .card-box:hover{
    height: 350px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 1px 35px 0px rgba(0,0,0,0.3)
  }
  .card-box img{
    position: relative;
    border-radius: 20px;
    display: block;
    height: 150px;
    border: 2px solid #fff;
    margin: auto;
    transition: all 0.9s ease;
  }
.icons li{
  height: 40px;
  width: 40px;
  margin: 5px 0;
  opacity: 0;
  margin-left: -100px;
  transition: all 0.5s ease;
}
.icons li a{
  border-radius: 3px;
  color: rgba(121, 121, 121, .8);
  display: inline-block;
  height: 30px;
  line-height: 27px;
  border: 2px solid rgba(121, 121, 121, .5);
  text-align: center;
  width: 30px
}
.icons li a:hover{
    color: #797979;
    border: 2px solid #797979
}
.icons li a img{
  width: 35px;
  height: 20px;
}
#name{
    color: #fff;
    font-size: 20px;
    padding: 10px;
    padding-top: 90px;
    line-height: 15px;
  }
  #industry,
  #nationality{
    color: #fff;
    font-size: 17px;
    line-height: 0px;
    margin: 10px 0;
  }
 .icons{
    margin-top: -100px;
    margin-left: 10px;
    list-style: none;
    height: 35px;
  }
  .icons li{
    opacity: 1;
    margin-left: 7px;
  }
 .icons:hover li:nth-child(2){
    transition-delay: 0.2s;
  }
  .icons li:nth-child(3){
    transition-delay: 0.4s;
  }
   .icons li a{
    color: #7b00e0;
    height: 10px;
    width: 10%;
    border-radius: 1px;
    background: #fff;
    display: block;
    line-height: 20px;
    transition: all 0.3s;
  }
   .icons li a:hover{
    transform: scale(0.9);
  }
  .icons li a img{
      width: 35px;
      height: 20px;
  }
.thumb-lg {
    height: 88px;
    width: 88px;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}
.text-pink {
    color: #ff679b!important;
}
.btn-rounded {
    border-radius: 2em;
}
h4 {
    line-height: 22px;
    font-size: 18px;
}
.row-end ul li{
  display: inline;
}
